.custom_menu_all ul {
    padding-left: 0;
}
.custom_menu_all .show_menu,
.custom_menu_all ul.slimmenucs>li {
    background-color: #428bca;
}
.custom_menu_all ul.slimmenucs li {
    border-left: none;
}
.custom_menu_all ul.slimmenucs li a {
    font-size: 14px;
    width: 100%;
    color: #fff;
    padding: 12px 16px;
}
.custom_menu_all ul.slimmenucs li a:hover {
    background-color: #245682;
    color: #fff;
}
.custom_menu_all ul.slimmenucs li ul {
    width: auto;
    background-color: #428bca;
    border: none;
    box-shadow: none;
    min-width: auto;
    border-radius: 0;
}
.custom_menu_all ul.slimmenucs li.has-submenu {
    display: block;
}
.custom_menu_all ul.slimmenucs li.has-submenu a {
    white-space: nowrap;
    width: 100%;
    padding-right: 32px;
}
.custom_menu_all ul.slimmenucs li .sub-toggle {
    background: transparent;
    width: 24px;
}
.custom_menu_all ul.slimmenucs li .sub-toggle>i {
    font-size: 10px;
    color: #fff;
}
.custom_menu_all ul.slimmenucs li.has-submenu ul li {
    display: block;
    width: 100%;
    background-color: transparent;
}
.custom_menu_all .cscollapse-button {
    background-color: #428bca;
}
.custom_menu_all .csmenu-collapser {
    background-color: transparent;
}
.home_mobile {
    display: none !important;
}
.custom_menu_all ul.slimmenucs li ul li .sub-collapser > i {
    color: #fff;
}
.custom_menu_all ul.slimmenucs li ul li {
    width: 100%;
}
.custom_menu_all ul.slimmenucs li>ul>li ul {
    width: auto;
}
@media (max-width: 768px) {
    .open-menu .second-nav {
        z-index: auto;
    }
    .open-menu .mobile-menu-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    .custom_menu_all .show_menu {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #fff;
        display: block !important;
        z-index: 9999;
        transform: translateX(100%);
        transition: transform 0.5s;
        overflow: auto;
    }
    .custom_menu_all .show_menu.active {
        width: 70%;
        transform: translateX(0);
    }
    .custom_menu_all ul.slimmenucs li a,
    .custom_menu_all ul.slimmenucs li.has-submenu a {
        white-space: normal;
    }
    .custom_menu_all ul.slimmenucs ul li a {
        padding-left: 25px;
    }
    .custom_menu_all ul.slimmenucs ul ul li a {
        padding-left: 35px;
    }
    .home_desktop {
        display: none !important;
    }
    .home_mobile {
        display: block !important;
    }
}